  <table>
  	 <%= form_for(@singer) do |f| %>
     <tbody>
		 <tr>
		 	<td class="artist">
		 		<h5>
		 		    <strong>アーティスト名</strong>
		 		</h5>
		 	</td>
			<td>
				<%= f.text_field :singer_name, class: "singer_name", :size => '75' %>
			</td>
			<td>
				<%= f.submit '登録', class: "btn btn-warning" %>
			</td>
		 </tr>
	  </tbody>
	 <% end %>
    </table>




    <table class= "table table-striped">
		<thead>
			<tr>
				<th>アーティスト一覧</th>
			</tr>
		</thead>
		　  <% @singers.each do |singer| %>
　　　　　　<tbody>
			<tr>
				<td>
                   <%= singer_name %>
				</td>
				<td>
					<%= link_to "編集", edit_singer_path(@singer.id) , class: "singer_#{@singer.id} btn btn bg-success" %>
				</td>
				<td>
					<%= link_to "削除", singer_path(@singer.id), class: "singer_#{@singer.id} btn btn bg-danger, btn btn-danger dropdown-toggle", "data-confirm" => "本当に削除しますか？ " %>
				</td>
			</tr>
		</tbody>
	  <% end %>
	</table>