<div class="container">
  <div class="row">
<div class="col-md-8 col-md-offset-2">


<h1 class="edit"><%= @user.last_name %> <%= @user.first_name %> さんの編集ページ</h1>

<%= form_for(@user, url: user_edit_path(@user.id), html: { method: :patch }) do |f| %>

  <div class="field">
    <%= f.label :"名前(姓・名)" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "fiest_name" %>
  </div>

  <div class="field">
    <%= f.label :"名前(カナ姓・カナ名)" %><br />
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "fiest_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号" %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br />
    <%= f.text_field :addres, autofocus: true, autocomplete: "addres" %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="actions">
    <%= f.submit "編集する" %>
  </div>
<% end %>



</div>
</div>
</div>
