<% if flash[:notice] %>
	<h2><%= flash[:notice] %></h2>
<% end %>

<div class="container">
  <div class="row">
<div class="col-md-8 col-md-offset-2">

<head>
	<link rel="stylesheet" type="text/css" href="users.scss">
</head>


	<div class="mypage">
		<h1 class="mypage1">MY PAGE</h1>
	</div>

	<div class="username">
		<p class="username1"><%= @user.last_name %><%= @user.first_name %></p>
  </div>

 <div class="btn">
	<%= link_to "Edit User", edit_user_path , class: "btn-square" %>
	<%= link_to "Account Delite", user_registration_path, method: :delete,  class: "user_#{@user.id}  btn-square", "data-confirm" => "本当に削除しますか？" %>
</div>

<!-- タブ・メニュー -->
<div>
<ul class="nav nav-tabs">
	<li class="active"><a href="#purchase" data-toggle="tab">Purchase History</a></li>
	<li><a href="#favorite" data-toggle="tab">My Favorite</a></li>
	<li><a href="#review" data-toggle="tab">Review List</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="purchase">
		<h2>Purchase History</h2>
		<br>

<!-- 未発送状態 -->

 <p class="pre">準備中</p>

         <% @purchases.where(status: 2).each do |purchase| %>
         <% end %>
<!-- 発送済み  -->

					<p class="pre">発送済</p>

         <% @purchases.where(status: 3).each do |purchase| %>
         <% end %>
  </div>

	<div class="tab-pane" id="favorite">
		<p><%= render 'favorites/index' %></p>
	</div>

	<div class="tab-pane" id="review">
	    <p><%= render 'reviews/index' %></p>
	</div>
</div>

</div>


</div>
	</div>
</div>
