<% if flash[:notice] %>
	<h2><%= flash[:notice] %></h2>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<head>
				<link rel="stylesheet" type="text/css" href="users.scss">
			</head>

			<div class="mypage">
				<h1 class="mypage1">MY PAGE</h1>
			</div>

			<div class="username">
				<p class="username1"><%= @user.last_name %><%= @user.first_name %></p>
			</div>

			<div class="btn">
				<%= link_to "Edit User", edit_user_path , class: "btn-square" %>
				<%= link_to "Account Delite", user_registration_path, method: :delete, class: "user_#{@user.id} btn-square", "data-confirm" => "本当に削除しますか？" %>
			</div>

			<!-- タブ・メニュー -->
			<div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#purchase" data-toggle="tab">Purchase History</a>
					</li>
					<li>
						<a href="#favorite" data-toggle="tab">My Favorite</a>
					</li>
					<li>
						<a href="#review" data-toggle="tab">Review List</a>
					</li>
				</ul>

				<!-- タブ内容 -->
				<div class="tab-content">
					<div class="tab-pane active" id="purchase">
						<h2>Purchase History</h2>
						<br>

						<!-- ========================未発送状態=========================== -->
						<div class="col-lg-7">
							<h2>未発送一覧</h2>
							<% @carts.each do |cart| %>
								<% if cart.status == '未発送' %>
									<div class="" ,="," style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
										<p>
											<strong>
												<%= cart.created_at.strftime('%Y/%m/%d') %></strong>の注文
											<strong>注文番号</strong>：
											<%= cart.id %>
											<strong>注文金額（送料込み）</strong>：
											<%= (cart.total_price*BigDecimal("1.08")).ceil + 500 %>円
										</p>
										<!--------------------- カートの中身 ------------------------>
										<div>
											<% cart.item_carts.each do |item_cart|%>
												<%= attachment_image_tag(item_cart.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart|%>
												商品名：<%= item_cart.item.item_name %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart|%>
												購入枚数：<%= item_cart.item_count %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart| %>
												価格(税込)：
												<%= ((item_cart.price * item_cart.item_count)*BigDecimal("1.08")).ceil %>円
											<% end %>
										</div>

										<div>
											<% if cart.ship_to_another_id.blank? %>
												送付先： 〒<%= cart.user.postal_code %><br>
												<%= cart.user.addres %>
											<% else %>
												送付先：<%= cart.ship_to_another.last_name %>
												<%= cart.ship_to_another.first_name %><br>
												〒<%= cart.ship_to_another.postal_code %><br>
												<%= cart.ship_to_another.address %>
											<% end %>
										</div>

									</div>
								<% end %>
							<% end %>
							<!-- ========================================================== -->

							<!-- =======================未発送状態========================== -->
							<h2>発送済一覧</h2>
							<% @carts.each do |cart| %>
								<% if cart.status == '発送済み' %>
									<div class="" ,="," style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
										<p>
											<strong>
												<%= cart.created_at.strftime('%Y/%m/%d') %></strong>の注文
											<strong>注文番号</strong>：
											<%= cart.id %>
											<strong>注文金額</strong>：
											<%= (cart.total_price * BigDecimal("1.08")).ceil + 500 %>円
										</p>
										<!------------------------ カートの中身 --------------------->
										<div>
											<% cart.item_carts.each do |item_cart|%>
												<%= attachment_image_tag(item_cart.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart|%>
												商品名：<%= item_cart.item.item_name %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart|%>
												購入枚数：<%= item_cart.item_count %>
											<%end%>
										</div>

										<div>
											<% cart.item_carts.each do |item_cart| %>
												価格(税込)：
												<%= ((item_cart.price * item_cart.item_count) * BigDecimal("1.08")).ceil %>円
											<% end %>
										</div>

										<div>
											<% if cart.ship_to_another_id.blank? %>
												送付先： 〒<%= cart.user.postal_code %><br>
												<%= cart.user.addres %>
											<% else %>
												送付先：<%= cart.ship_to_another.last_name %>
												<%= cart.ship_to_another.first_name %><br>
												〒<%= cart.ship_to_another.postal_code %><br>
												<%= cart.ship_to_another.address %>
											<% end %>
										</div>

									</div>
								<% end %>
							<% end %>
							<!-- ========================================================== -->

						</div>
						</div>

						<div class="tab-pane" id="favorite">
							<p><%= render 'favorites/index' %></p>
						</div>
						<!------------レビューのタブの中身--------------->
						<div class="tab-pane" id="review">
							<p><%= render 'reviews/index' %></p>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
	</div>
