<div class='container'>
	<div class='row'>
<!---左のタブの部分テンプレート--->
<%= render 'administrator/tab' %>

<div class="col-lg-7">

	<%= form_for @genre, url: administrator_genres_path do |f| %>
    <h4>
		ジャンル名<%= f.text_field :genre_name, :size => '40' %>
	   	<%= f.submit "登録", class: "btn btn bg-success", data:{confirm:"本当に登録しますか？"} %>
	</h4>
	<% end %>

<h3>登録ジャンル一覧</h3>

	<table class= "table table-striped">
		<% @genres.each do |genre| %>
			<tbody>
				<tr>
					<td>
          	<%= genre.genre_name %>
					</td>
					<td>
						<%= link_to "編集", edit_administrator_genre_path(genre.id) , class: "genre_#{genre.id} btn btn bg-success" %>
					</td>
					<td>
						<%= link_to "削除", administrator_genre_path(genre.id), method: :delete,  class: "genre_#{genre.id} btn btn bg-danger, btn btn-danger dropdown-toggle", "data-confirm" => "本当に削除しますか？ " %>
					</td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>
