<h1>商品一覧画面</h1>
<!-- 歌手、ジャンル、ぷれーやーでタブ分け -->
<% @items.each do |item| %>
	<div class="">
	<div class="">
		<%= attachment_image_tag(item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
	</div>
	<div class="">
		商品名：<%= item.item_name %>
		<%# アーティスト名<%= singer.singer_name(item.id) %> %>
		価格：<%= item.price %>
	</div>
	<%= link_to '編集', edit_item_path(item.id) %>
	<%= link_to '削除', item_path(item.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</div>
<% end %>

