<h1>商品一覧画面</h1>
<!-- 歌手、ジャンル、ぷれーやーでタブ分け -->
<% @items.each do |item| %>
	<div class="">
	<div class="">
		<%= attachment_image_tag item.image_id %>
	</div>
	<div class="">
		商品名：<%= item.item_name %>
		アーティスト名<%= item.singer.singer_name %>
		価格：<%= item.price %>
	</div>
	<%= link_to '編集', edit_administrator_item_path %>
	<%= link_to '削除', administrator_item_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</div>
<% end %>