<h1>Cart</h1>
<p>内容がよろしければ発送先選択ページへお進み下さい</p>
  <!-- ======================= こからカートの中身 ============================== -->
  <section class="cart-items">
    <table>

      <% total_price = 0 %>
      <!-- カート内のitemを繰り返し表示 -->
      <% @item_carts.each do |item_cart| %>
      <% price = item_cart.item_count * item_cart.price %>
      <% total_price += price %>
        <!-- もしCDだったら -->
        <% if item_cart.item.description.blank? %>
          <tbody class="cart-in-CD">
            <tr>
              <td rowspan="5"><%= attachment_image_tag(item_cart.item, :image, :fill, 60, 60, format: "jpeg") %></td>
              <td rowspan="2"><p>CDタイトル</p><h3><%= item_cart.item.item_name %></h3></td>
              <td></td>
              <td class='multiply_price' rowspan="5"><%= price %>円</td>
              <td rowspan="5"><%= link_to 'カートから削除', item_cart_path(item_cart.id), method: :delete, "data-confirm" => "本当にカートから削除しますか？" %></td>
            </tr>
            <tr>
              <td>
                <%= form_with model: item_cart, url: item_cart_path(item_cart.id), local: true do |f| %>
                  <%= f.number_field :item_count, class: "number", step: '1', min: '1', max: item_cart.item.stock.stock_count.to_i, value: item_cart.item_count, required: true %>枚
                  <%= item_cart.item_count %>枚
                  <%= f.submit '購入数変更' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><p>歌手</p><%= ItemSinger.find_by(item_id: item_cart.item.id).singer.singer_name %></td>
              <td><p>在庫状況</p><%= item_cart.item.stock.stock_count.to_i %></td>
            </tr>
            <tr>
              <td><p>レーベル名</p><%= item_cart.item.label.label_name %></td>
              <!-- お気に入り登録 -->

                <td rowspan="2">
                  <% if item_cart.item.favorited_by?(current_user) %>
              <p>
                  <%= link_to 'お気に入り登録済み', item_favorites_path(item_id: item_cart.item_id, favorite: 'cart', cart: params[:id]),  method: :delete %>
                </p>
                 <% else %>
                <p>
                  <%= link_to 'お気に入り登録する', item_favorites_path(item_id: item_cart.item_id, favorite: 'cart'),  method: :post %>
                </p>
                 <% end %>
             </td>
            <tr>
              <td><p>ジャンル</p><%= ItemGenre.find_by(item_id: item_cart.item.id).genre.genre_name %></td>
            </tr>
          </tbody>
          <!-- もしプレイヤーだったら -->
        <% else %>
          <tbody class="cart-in-Player">
            <tr>
              <td rowspan="4"><%= attachment_image_tag(item_cart.item, :image, :fill, 60, 60, format: "jpeg") %></td>
              <td rowspan="4"><p>プレーヤー名</p><h3><%= item_cart.item.item_name %></h3></td>
              <td></td>
              <td class='multiply_price' rowspan="4"><%= price %>円</td>
              <td rowspan="4"><%= link_to 'カートから削除', item_cart_path(item_cart.id), method: :delete, "data-confirm" => "本当にカートから削除しますか？" %></td>
            </tr>
            <tr>
              <td>
                <%= form_with model: item_cart, url: item_cart_path(item_cart.id), local: true do |f| %>
                  <%= f.number_field :item_count, class: "number", step: '1', min: '1', max: item_cart.item.stock.stock_count.to_i, value: item_cart.item_count, required: true %>台
                  <%= f.submit '購入数変更' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <p>在庫状況</p><%= item_cart.item.stock.stock_count.to_i %>
              </td>
            </tr>
            <tr>
              <!-- お気に入り登録 -->
              <td>
                <% if item_cart.item.favorited_by?(current_user) %>
                <p>
                <%= link_to 'お気に入り登録済み', item_favorites_path(item_id: item_cart.item_id, favorite: 'cart', cart: params[:id]),  method: :delete %>
              </p>
               <% else %>
              <p>
                <%= link_to 'お気に入り登録する', item_favorites_path(item_id: item_cart.item_id, favorite: 'cart'),  method: :post %>
              </p>
               <% end %>
           </td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </section>
  <!-- ====================================================================== -->
  <!-- ============================合計金額の計算場所============================ -->
  <section class="amount_calculation_field">
    <p>合計</p>
    <h3 id="sum_price">
      <%= total_price %>円
    </h3>
    <p>送料全国どこでも</p>
    <h3>500円</h3>
    <p>総合計</p>
    <h3 id="total_price">
      <%= total_price + 500 %>円
    </h3>
  </section>
  <%= link_to "お買い物に戻る","/#playerjump" %>

  <%= form_with model: @cart, url: cart_cartedit_path(@cart.id), local: true, method: :post do |f| %>
    <%= f.hidden_field :total_price, value: total_price %>
    <%= f.submit '発送先選択へ' %>
  <% end %>

<script type="text/javascript">
  $(function() {

    // 関数定義
    const AmountCalculation = () => {
      const output = $(this).closest('tbody').find('.multiply_price');
      // .numberのvalue（）個数を取得
      const number = $(this).val();
      // itemの金額を取得
      const money = 1000;
      // 個数×金額
      multiply = money * number;
      $.ajax(url: '/carts/new', type: "GET", data:{text:"hello world"});
      const multiplyResult = multiply.toLocaleString() + "円";
      // outputのテキストを変更する
      output.text(multiplyResult).data("price", multiply);
      console.log(output.data("price"));
      output.text("<input class='money' type='hidden' name='' value="${multiply}" >" + multiplyResult).data("price", multiply);
      multiply_sum(multiply);
    };


    //================inputの個数から表示金額を変える関数==========================
    $('.number').on('input', function(event) {
      const output = $(this).closest('tbody').find('.multiply_price');
      // .numberのvalue（）個数を取得
      const number = $(this).val();
      // itemの金額を取得
      const money = 1000;
      // 個数×金額
      multiply = money * number;
      // データ属性に金額を含める
      output.attr("data",multiply);
      // ここで金額を表示する変数を作成
      const multiplyResult = multiply.toLocaleString() + "円";
      // outputのテキストを変更する
      output.text(multiplyResult);
      output.text("<input class='money' type='hidden' name='' value="${multiply}" >" + multiplyResult).data("price", multiply);
      multiply_sum(multiply);
    }); //.on('input', function(event) {でinput操作を発火


    $('.multiply_price').each(function(i. n){
      p = 0;
      p = p + $(n).data("price");
  $("sum_price").text(p);
  $("total_price").text(p + 500);
  });

// ここ積んだ聞く
    const multiply_sum = (multiply) => {
      const reducer = (accumulator, currentValue) => accumulator + currentValue;
      multiply_array.push(multiply)
      const multiplySum = multiply_array.reduce(reducer)
      $('sum_price').text(multiplySum);
      };
  });
</script>
