<h1>Cart</h1>
<p>内容がよろしければ発送先選択ページへお進み下さい</p>

<form class="" action="index.html" method="post">
  <!-- ======================= こからカートの中身 ============================== -->
  <section class="cart-items">
    <table>

      <!-- カートの中身繰り返し処理 -->
      <%# @items.each do |item| %>

      <!-- ここで該当する歌手のidを取り出す -->
      <%# singer_id = @item_singers.find(item_id: item.id).singer_id %>
      <%# genre_id = @item_genres.find(item_id: item.id).genre_id %>


      <!-- もしCDだったら -->
      <%# if item.description.empty? %>
      <tbody class="cart-in-CD">
        <!-- <%= hidden_field(:item, :token) %> 左記述でhiddenのvalueに@item.idを取り出し下のjqueryにわたす -->
        <tr>
          <td rowspan="5"><%= "attachment_image_tag モデル名, :image, :fill, 横幅の数値(例: 100), 縦幅の数値, format: '拡張子名(例: jpg)'" %></td>
          <td rowspan="2"><p>CDタイトル</p><h3><%= "item.name" %></h3></td>
          <td></td>
          <td class='multiply_price' rowspan="5"><%= "item.price.to_s(:delimited)" %>円</td>
          <td rowspan="5"><%= link_to "削除",item_item_carts_path(1), method: :delete, remote: true %></td><!-- とりあえずidは1本当はitem.id -->
        </tr>
        <tr>
          <td>
            <input class="number" type="number" name="" value="1" min="1">枚
            <%#= これを使用する f.number_field(プロパティ名, オプション,class: "number", min: "1",value: "1",max: @Stock.item_id)枚 %>
          </td>
        </tr>
        <tr>
          <td><p>歌手</p><%= "@singers.find(id: singer_id).name" %></td>
          <td><p>在庫状況</p><%= "@Stock.find(item_id: item.id).count" %></td>
        </tr>
        <tr>
          <td><p>レーベル名</p><%= "@labels(id: label_id).name" %></td>
          <td rowspan="2"><%= link_to "お気に入り登録",{:controller => "favorites", :action => "create"}, remote: true %></td>
        </tr>
        <tr>
          <td><p>ジャンル</p><%= "@genres.find(id: genre_id).name" %></td>
        </tr>
      </tbody>
      <%# もしプレイヤーだったら %>
      <%# else %>
      <tbody class="cart-in-Player">
        <tr>
          <td rowspan="4"><%= "attachment_image_tag モデル名, :image, :fill, 横幅の数値(例: 100), 縦幅の数値, format: '拡張子名(例: jpg)'" %></td>
          <td rowspan="4"><p>プレーヤー名</p><h3><%= "item.name" %></h3></td>
          <td></td>
          <td class='multiply_price' rowspan="4"><%= "item.price.to_s(:delimited)" %>円</td>
          <td rowspan="4"><%= link_to "削除",item_item_carts_path(1), method: :delete, remote: true %></td><!-- とりあえずidは1本当はitem.id -->
        </tr>
        <tr>
          <td><input class="number" type="number" name="" value="1" min="1">台</td>
          <!-- 上記は→を使用する f.number_field(プロパティ名, オプション,class: "number", min: "1",value: "1")台 -->
        </tr>
        <tr>
          <td><p>在庫状況</p><%= "@Stock.find(item_id: item.id).count" %></td>
        </tr>
        <tr>
          <td><%= link_to "お気に入り登録",{:controller => "favorites", :action => "create"}, remote: true %></td>
        </tr>
      </tbody>
      <%# end %>
      <%# end %>
    </table>
  </section>
  <!-- ====================================================================== -->
  <!-- ============================合計金額の計算場所============================ -->
  <section class="amount_calculation_field">
    <p>合計</p>
    <h3 id="sum_price"></h3>
    <p>送料全国どこでも</p>
    <h3>500円</h3>
    <p>総合計</p>
    <h3 id="total_price"></h3>
  </section>
  <%= link_to "お気に入り登録",{:controller => "favorites", :action => "create"}, remote: true %>
  <%= link_to "お気に入り登録",{:controller => "favorites", :action => "create"}, remote: true %>
</form>
<!-- const money = <%# = @item.(@item.token).price %> これをmoneyに代入する-->
<script type="text/javascript">
  $(function() {
    let multiply = 0;
    //================inputの個数から表示金額を変える関数==========================
    $('.number').on('input', function(event) {//.on('input', function(event) {でinput操作を発火
      // .numberのvalue（）個数を取得
      const number = $(this).val();
      // itemの金額を取得
      const money = 1000
      // 個数×金額
      const multiply = money * number;
      const multiplyResult = multiply.toLocaleString() + "円";
      // outputのテキストを変更する
      $(this).closest('tbody').find('.multiply_price').text(multiplyResult);
      multiply_sum(multiply);
    });

// ここ積んだ聞く
    const multiply_sum = (multiply) => {
      const reducer = (accumulator, currentValue) => accumulator + currentValue;
      const multiply_array = [];
      multiply_array.push(multiply)
      const multiplySum = multiply_array.reduce(reducer)
      $('#sum_price').text(multiplySum);
      };
  });
</script>
