<div class='container'>
    <div class='row'>
<!---左のタブの部分テンプレート--->
<%= render 'administrator/tab' %>

<div class="col-lg-7">

    <h2>未発送一覧</h2>

    <%# <% @carts.each do |cart| %>
    <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>

    <%# <% cart.users.each do |user|%> %>
		  ユーザー名：
      <%# <%= user.user_name %> %>
		<%# <%end%> %>

    注文金額：
    <%# <%= cart.payment%>



<%# カートの中身 %>
    <div>

    <div>
      <%# <% cart.items.each do |item|%> %>
      <%# <%= attachment_image_tag(item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %> %>
		<%# <%end%> %>
    </div>

    <div>
    <%# <% cart.items.each do |item|%> %>
    商品名：
    <%# <%= item.item_name %> %>
		<%# <%end%> %>
    </div>

    <div>
    <%# <% cart.item_carts.each do |item_cart|%> %>
    購入枚数：
    <%# <%= item_cart.count %> %>
		<%# <%end%> %>
    </div>

    <div>
    <%# <% cart.items.each do |item|%> %>
    価格：
    <%# <%= item.price %> %>
		<%# <%end%> %>
    </div>


    <div>
    <%# <% cart.ship_to_anothers.each do |ship_to_another|%>
    送付先：
    <%# <%= ship_to_another.first_name %>
    <%# <%= ship_to_another.last_name %>
    <%# <%= ship_to_another.postal_code %>
    <%# <%= ship_to_another.address %>
		<%# <%end%> %>
    </div>

    <div>
    総計価格：+500円（送料）
    <%# <%= cart.total_price %> %>
    </div>

  <div>
  <strong>Status:</strong>
    <%# <%= link_to @cart.status, cart_toggle_status_path(@cart), method: :patch %> %>
  </div>



</div>
    </p>


<h2>発送済み一覧</h2>
  <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>

    <%# <% cart.users.each do |user|%> %>
		  ユーザー名：
      <%# <%= user.user_name %> %>
		<%# <%end%> %>

    注文金額：
    <%# <%= cart.payment%>


    </p>



<%# <% end %>


</div>
</div>