<div class='container'>
    <div class='row'>
<!---左のタブの部分テンプレート--->
<%= render 'administrator/tab' %>

<div class="col-lg-7">

    <h2>未発送一覧</h2>

    <%# <% @carts.each do |cart| %>
    <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>

    <%# <% cart.users.each do |user|%> %>
		  ユーザー名：
      <%# <%= user.user_name %> %>
		  <%# <%end%> %>


    注文金額：
    <%# <%= cart.payment%>

    <a class="btn btn-default" data-toggle="collapse" href="#1">
	    詳細
    </a>
    <div class="collapse" id="1">
	      <div class="well">
		        カートの中身が入る感じ
	      </div>
    </div>


    </p>


<h2>発送済み一覧</h2>
  <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>


     <%# <% cart.users.each do |user|%> %>
		  ユーザー名：
      <%# <%= user.user_name %> %>
		  <%# <%end%> %>

    注文金額：
    <%# <%= cart.payment%>


    <a class="btn btn-default" data-toggle="collapse" href="#1">
	    詳細
    </a>
    <div class="collapse" id="1">
	      <div class="well">
		        カートの中身が入る感じ
	      </div>
    </div>

    </p>

<%# <% end %>


    </div>
  </div>
</div>