<div class='container'>
    <div class='row'>
<!---左のタブの部分テンプレート--->
<%= render 'administrator/tab' %>

<div class="col-lg-7">

    <h2>未発送一覧</h2>

    <%# <% @carts.each do |cart| %>
    <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>
    ユーザー名：
    <%# <%= user.user_name %>
    注文金額：
    <%# <%= cart.payment%>
    <button class="btn btn-primary" >
	  	詳細
	  </button>
    </p>


<h2>発送済み一覧</h2>
  <p><strong>
    <%# <%= cart.created_at%>
    の注文</strong>   注文番号：
    <%# <%= cart.cart.id %>
    ユーザー名：
    <%# <%= user.user_name %>
    注文金額：
    <%# <%= cart.payment%>
    <button class="btn btn-primary" >
		詳細
	</button>
    </p>



<%# <% end %>


    </div>
  </div>
</div>