<!-- トップビジュアル（円盤） -->
<div class="mainx">


<!-- プレイヤー説明 -->
<div class="">
	<h1 class="content-text">Player</h1>
	<p class="">持ち運びも簡単！</p>
	<p class="">お洒落で機能的なプレーヤーを厳選しました！</p>
</div>

<!-- プレーヤー表示（skippr) -->

<!-- MUSIC説明 -->
	<div class="content-text">
		<h1 class="">Music</h1>
		<p class="">様々なジャンルを揃えています！</p>
		<p class="">お気に入りを見つけてみて下さい</p>
	</div>
	<!-- 検索ボックス -->


	<!-- 商品一覧表示 -->
	<div class="">
		<% @items.each do |item| %>
			<div class="items">
				<%= link_to item_path(item.id) do %>
				<%= attachment_image_tag(item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
				<% end %>
				<div>
				<%= link_to item_path(item.id) do %>
        			<%= item.item_name %>
          		<% end %>
				</div>

				<div>
				<%= item.price %>円
				</div>
				</div>
			</div>
		<% end %>
	</div>
</div>