<!-- トップビジュアル（円盤） -->
<div class="mainx">


<!-- プレイヤー説明 -->
  <div class="">
	<h1 class="content-text">Player</h1>
	<p class="">持ち運びも簡単！</p>
	<p class="clearfix">お洒落で機能的なプレーヤーを厳選しました！</p>

			<% @items.each do |item| %>
				<% if item.singers.blank? %>
					<div class="items">
						<%= link_to item_path(item.id) do %>
							<%= attachment_image_tag(item, :image, :fill, 300, 300, format: 'jpeg') %><br>
							<%= item.item_name %><br>
							<% item.singers.each do |singer| %>
								<%= singer.singer_name %><br>
							<% end %>
							価格(税込)：<%= (item.price*BigDecimal("1.08")).ceil %>円
						<% end %>
					</div>
				<% end %>
			<% end %>

  </div>

<!-- プレーヤー表示（skippr) -->

	<div class="container">
		<div class="theTarget">
			<%# unless item.description.blank? %>
				<%# @items.each do |player| %>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
				<%# end %>
			<%# end %>
		</div>
	</div>

<!-- MUSIC説明 -->

    <div class="content-text", style="float:left; ">
		<h1 class="">Music</h1>
		<p class="">様々なジャンルを揃えています！</p>
		<p class="">お気に入りを見つけてみて下さい</p>

	<!-- 検索ボックス -->
	<h4>商品名検索</h4>
	<%= form_tag(items_path,:method => 'get') do %>
  	<%= text_field_tag :search %>
  	<%= submit_tag 'Search', :item_name => nil %>
	<% end %>


	<!-- 商品一覧表示 -->
			<% @items.each do |item| %>
				<% if item.description.blank? %>
					<div class="items", style="margin-right: 30px;">
						<%= link_to item_path(item.id) do %>
							<%= attachment_image_tag(item, :image, :fill, 300, 300, format: 'jpeg') %><br>
							<%= item.item_name %><br>
							<% item.singers.each do |singer| %>
								<%= singer.singer_name %><br>
							<% end %>
							価格(税込)：<%= (item.price*BigDecimal("1.08")).ceil %>円
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
</div>