
<!-- トップビジュアル（円盤） -->
<br>
<br>
<br>

<div id="circle">
<div id="content1">CD SHOP NAGGANO</div>
<script type="text/javascript">
   $('#content1').arctext({radius: 490});
</script>
</div>

<div id="circle1">
<div id="circle2">
</div>
</div>


<div class="container">
  <div class="row">
<div class="col-md-10 col-md-offset-1">



<br>
<br>
<br>



<!-- プレイヤー説明 -->
 <div class="">
	<h1 class="player">Player</h1>
	<p class="player1">持ち運びも簡単！</p>
	<p class="player1">お洒落で機能的なプレーヤーを厳選しました！</p>

			<% @items.each do |item| %>
				<% if item.singers.blank? %>
					<div class="items">
						<%= link_to item_path(item.id) do %>
							<%= attachment_image_tag(item, :image, :fill, 300, 300, format: 'jpeg') %><br>
							<%= item.item_name %><br>
							<% item.singers.each do |singer| %>
								<%= singer.singer_name %><br>
							<% end %>
							価格(税込)：<%= (item.price*BigDecimal("1.08")).ceil %>円
						<% end %>
					</div>
				<% end %>
			<% end %>

  </div>

<!-- プレーヤー表示（skippr) -->

	<div class="container">
		<div class="theTarget">
			<%# unless item.description.blank? %>
				<%# @items.each do |player| %>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
					<div style="background-image: url(no_image.jpg)"></div>
				<%# end %>
			<%# end %>
		</div>
	</div>

<!-- MUSIC説明 -->

    <div class="content-text2", style="float:left; ">
		<h1 class="music">Music</h1>
		<p class="music1">様々なジャンルを揃えています！</p>
		<p class="music1">お気に入りを見つけてみて下さい</p>

	<!-- 検索ボックス -->
	<h4>商品名検索</h4>
	<%= form_tag(items_path,:method => 'get') do %>
  	<%= text_field_tag :search %>
  	<%= submit_tag 'Search', :item_name => nil %>
	<% end %>


	<!-- 商品一覧表示 -->
			<% @items.each do |item| %>
				<% if item.description.blank? %>
					<div class="items">
						<%= attachment_image_tag(item, :image, :fill, 300, 300, format: 'jpeg') %><br>
						<%= link_to item_path(item.id) do %>
						<%= item.item_name %>
						<% item.singers.each do |singer| %>
							<%= singer.singer_name %><br>
						<% end %>
						価格(税込)：<%= (item.price*BigDecimal("1.08")).ceil %>円
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
</div>
</div>
</div>
