
<div class='container'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-2'>
<h1>商品登録</h1>
<ul class="nav nav-tabs">
	<li class = "active"><a href="#cd" data-toggle="tab">CD</a></li>
	<li><a href="#player" data-toggle="tab">Palyer</a></li>
</ul>
    </div>
  </div>
</div>


<div class='container'>
    <div class='row'>
      <div class='col-xs-9 col-xs-offset-3'>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="cd">

    <%= form_for(@item) do |f| %>

		<h4>アーティスト名</h4>
        <h4>シングル/アルバム名 <%= f.text_field :item_name %></h4>
        <h4>ジャケット画像<%= f.attachment_field :image_id, placeholder: "ジャケット画像" %></h4>
        <h4>価格（税別） <%= f.text_field :price %></h4>
        <h4>レーベル名</h4>
        <h4>ジャンル</h4>
        <h4>曲名</h4>
        <%= form_for @stock,:url => {:action => :create} do |f| %>
        <h4>在庫数<%= f.text_field :count %></h4>
        <% end %>


  <div>
   <%= f.submit '登録する', class: "btn btn bg-primary", data:{confirm: "本当に登録しますか？"} %>
  </div>

<% end %>


	</div>


	<div class="tab-pane" id="player">

    <%= form_for(@item) do |f|%>

		<h4>Player名 <%= f.text_field :item_name %></h4>
        <h4>Player画像<%= f.attachment_field :image_id, placeholder: "ジャケット画像" %></h4>
        <h4>価格（税別）<%= f.text_field :price %></h4>
        <h4>ジャンル</h4>
        <h4>商品説明<%= f.text_area :description, :rows => "7" %></h4>
        <%= form_for @stock,:url => {:action => :create} do |f| %>
        <h4>在庫数<%= f.text_field :count %></h4>
        <% end %>


  <div>
   <%= f.submit '登録する', class: "btn btn bg-danger", data:{confirm: "本当に登録しますか？"} %>
  </div>

  <% end %>

	</div>
</div>


    </div>
  </div>
</div>
