<!-- 未ログインの状態でカート追加、購入ボタンクリック時に表示 -->
<% if flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>
<h1><%= @item.item_name %>の詳細</h1>
<div class="">
	<div class="">
		<%= attachment_image_tag @item,:image, :fill, 300, 300 %>
	</div>
	<div class="">
		<strong>商品名：</strong><%= @item.item_name %><br>
		<strong>アーティスト名：</strong><% @item.singers.each do |singer| %>
			<%= singer.singer_name %><br>
		<% end %>
		<strong>ジャンル：</strong><% @item.genres.each do |genre| %>
			<%= genre.genre_name %><br>
		<% end %>
		<strong>レーベル名：</strong><%= @item.label.label_name %><br>
		<strong>価格(税込)：</strong><%= (@item.price*BigDecimal("1.08")).ceil %>円<br>
		<strong>在庫：</strong><%= @item.stock.stock_count %>点
	</div>

	<div class="">
		<h2>収録曲</h2>
		<% @item.songs.each do |song| %>
			<%= song.disk %>
		<% end %>
			<ul>
				<% @item.songs.each do |song| %>
					<li><%= song.song_name %></li>
				<% end %>
			</ul>
	</div>
	<div class="">
		<% if @item.favorited_by?(current_user) %>
			<p>
				<%= link_to 'お気に入り登録済み', item_favorites_path(@item), method: :delete, class: "btn btn bg-info" %>
			</p>
		<% else %>
			<p>
				<%= link_to 'お気に入り登録する', item_favorites_path(@item), method: :post, class: "btn btn bg-info" %>
			</p>
		<% end %>
		<p>
			<%= link_to 'カートに追加する', carts_path(@item), method: :post, class: "btn btn bg-warning" %>
		</p>
		<p>
			<%= link_to '購入', carts_path(@item), method: :post %>
		</p>
		<p>
			<%= link_to 'レビューを投稿する', new_item_reviews_path(@item.id) %>
		</p>
	</div>

<%= form_for [@item, @review] do |f| %>
	レビュー
	<%= f.text_area :body %>
	<%= f.submit '投稿' %>
<% end %>
	<!-- 商品に基づいたレビューを一覧表示させる -->
	<table class="">
		<tr>
			<td>投稿者</td>
			<td>レビュー</td>
			<td></td>
			<td></td>
		</tr>
		<% @item.reviews.each do |review| %>
		<tr>
			<td>
				<%= review.user.last_name %>
				<%= review.user.first_name %>
			</td>
			<td>
				<%= review.body %>
			</td>
			<!-- レビュー投稿ユーザーなら”編集”、”削除”を表示させる -->
			<% if review.user == current_user %>
				<td>
					<%= link_to "編集", edit_review_path(review.id), class: "btn btn bg-success" %>
				</td>
				<td>
					<%= link_to "削除", review_path(review.id), class: "btn btn bg-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
				</td>
			<% else %>
				<td></td>
				<td></td>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>