<div class='container'>
    <div class='row'>
<!---左のタブの部分テンプレート--->
<%= render 'administrator/tab' %>

        <div class="col-lg-7">

            <h1>レビュー一覧</h1>
            <table class= "table table-striped">

			        <tbody>
				        <tr>
                            <th>日付</th>
                            <th>商品名</th>
                            <th>投稿者名</th>
                            <th>内容</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr><% @reviews.each do |review| %>
                            <td>
                            <%= review.created_at.strftime('%Y/%m/%d') %>
                            </td>
                            <td>
                            <%= attachment_image_tag(review.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
                            <%= review.item.item_name %>
                            </td>
                            <td>
                            <%= review.user.last_name %>
                            <%= review.user.first_name %>
                            </td>
				    	    <td>
                		    <%= review.body %>
					        </td>
					        <td>
					        <%= link_to "編集", edit_review_path(review.id), class: "btn btn bg-success" %>
			            	</td>
				            <td>
					        <%= link_to "削除", administrator_review_path(review.id), method: :delete, class: "btn btn bg-danger", "data-confirm" => "本当に削除しますか？" %>
					        </td>
				        </tr>
			        </tbody>
		        <% end %>
	        </table>
        </div>
    </div>
</div>