<h2>Review List</h2>


<% @reviews.each do |review| %>
	<div class="">
		<table>
			<tr>
				<td class="col-lg-4">
				<%= link_to item_path(review.item.id) do %>
					<%= attachment_image_tag(review.item, :image, :fill, 200, 200, format: 'jpeg') %><br>
					商品名：<%= review.item.item_name %>
				<% end %>
				</td>
				<td class="col-lg-4">
					本文：<%= review.body %>
				</td>
				<td class="col-lg-4">
					<%= link_to '編集', edit_review_path(review.id), class: "btn btn bg-success" %>
					<%= link_to '削除', review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn bg-danger" %>
				</td>
			</tr>
		</table>
	</div>
<% end %>